.quote-title {
  font-weight: bold;
  padding: 5px 0;
}

.quote {
  background: url(../img/quoteleft.png) no-repeat scroll left top #FFF;
  border: 1px solid #777;
  padding: 5px 0 0 5px;
}

.quote-content {
  background: url(../img/quoteright.png) no-repeat scroll right bottom transparent;
  padding: 5px 30px 10px;
}